<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="GPIH" value="https://lib.gpih.ge/nuget/localfeed/" />
  </packageSources>
  <packageSourceMapping>
    <!-- Map all packages to nuget.org by default -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <!-- Add specific patterns for GPIH packages if needed -->
    <!-- <packageSource key="GPIH">
      <package pattern="YourCompany.*" />
    </packageSource> -->
  </packageSourceMapping>
</configuration>
